.root {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  padding: 1em;
  grid-gap: 1em;
  background-color: #f0f0f0;
}

.explanation {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.json-input {
  display: flex;
  flex-direction: column;
}

.json-input > textarea {
  flex: 1;
  padding: 1em;
  background-color: white;
}

.json-output {
  display: flex;
  flex-direction: column;
  max-width: 65vw;
}

.json-output code {
  text-shadow: none !important;
}

.formatted-display {
  background-color: #f5f2f0;
  flex: 1;
  padding: 1em;
  margin: 0 !important;
}

.formatted-display > code {
  padding: 0 !important;
}

.token.operator {
  background: none !important;
}

.json-parse-error {
  border: 1px solid red;
  border-left: 5px solid red;
  margin: 0;
  font-weight: bold;
  padding: 1em;
}
